---
import Layout from "@layouts/BaseLayout.astro";
import { getSlides } from "@utils/getSlides";

const slides = getSlides()
  .filter(({ draft }) => !draft)
  .sort((c1, c2) => (c1.title > c2.title ? -1 : 1));
---

<Layout title="Home">
  <h1>Propuestas</h1>
  <p>Lista de propuestas realizadas:</p>
  {
    slides.map((slide) => (
      <a href={`/${slide.id}`}>
        <h2>{slide.title}</h2>
        <p>{slide.description}</p>
        <small>{new Date(slide.publishedAt).toLocaleDateString()}</small>
      </a>
    ))
  }
</Layout>

<style>
  @import "@theme";

  body {
    background-color: var(--background);
    color: var(--main-color);
    font-family: var(--main-font);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  body > * {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading-font);
  }

  a {
    padding: 2rem;
    color: var(--main-color);
    text-decoration: none;
    transition: filter 0.2s ease-in-out;
    background-color: var(--background);
    &:hover {
      filter: invert(1);
    }
  }
</style>
